@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.btn {
  width: 210px;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #ffffff;
  cursor: pointer;
}

/* navbar start */
.navbar {
  padding: 30px 186px 0 184.1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
  gap: 49px;
}
.nav_list .nav_item {
  list-style-type: none;
}
.nav_item .nav_link {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.468947px;
  color: #696871;
}
.nav_link:hover {
  color: #19191b;
  border-bottom: 2px solid #5454d4;
  padding-bottom: 10px;
}
.nav_btn {
  background: #ff7143;
}
.nav_btn:hover {
  background: white;
  color: #ff7143;
  border: 2px solid #ff7143;
}
/* navbar end */

/* header start */
.header {
  padding: 30px 186px 0 184.1px;
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: space-between;
}
.wrap_text {
  flex: 1;
}
.wrap_text .header_title {
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.50105px;
  color: #19191b;
}
.header_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
  margin: 30px 0 50px 0;
}
.wrap_btn {
  display: flex;
  gap: 40px;
  align-items: center;
}
.wrap_btn .header_btn {
  background: #5454d4;
}
.header_btn:hover {
  background-color: white;
  border: 2px solid #5454d4;
  color: #5454d4;
}
.wrap_icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #e7e7e7;
}
.hero1_img {
  width: 580px;
  height: 644px;
  display: flex;
  margin-top: 100px;
}
/* header end */

/* brand start */
.brend {
  padding: 30px 186px 0 184.1px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* brand end */

/* content1 started */
.con1 {
  padding: 150px 186px 0 184.1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 165px;
}
.con1_wrap {
  width: 556px;
  height: 229px;
}
.hero2_img {
  width: 348.5px;
  height: 473px;
}
.con1_h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
  color: #19191b;
}
.con1_p {
  width: 459px;
  height: 90px;
  margin: 30px 0 30px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
}
.con1_link {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #5454d4;
}
/* content1 end */

/* content2 started */
.con2 {
  padding: 83px 186px 0 184.1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 61px;
}
.hero3_img {
  margin-right: 314px;
  width: 324px;
  height: 474px;
}
.con2_h1 {
  margin-right: 61px;
  width: 556px;
  height: 57px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  letter-spacing: -1.56316px;
  color: #19191b;
}
.con2_p {
  width: 459px;
  height: 60px;
  margin: 30px 158px 30px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.625263px;
  color: #696871;
}
.con2_link {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;
  color: #5454d4;
}
/* content2 end */

/* content3 started */
.con3 {
  padding: 138px 185px 0 185px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 74px;
}
.con3_h1 {
  margin: 7px 0 20px 0;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.750316px;
  color: #19191b;
}
.con3_p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.500211px;
  color: #696871;
}
.con3_icon img {
  width: 151px;
  height: 91px;
}
.con3_icon {
  text-align: center;
}

/* content3 end */

/* content4 start */
.con4 {
  padding: 150px 165px 0 164px;
  display: flex;
  gap: 250px;
  align-items: center;
}
.con4_h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.87579px;
  color: #19191b;
}
.con4_btn_wrap {
  display: flex;
  width: 344px;
  height: 65px;
}
.con4_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 160px;
  height: 55px;
}
.con4_btn:hover {
  background: #5454d4;
  color: #ffffff;
}
.btn1 {
  border-radius: 10px 0px 0px 10px;
}
.btn2 {
  border-radius: 0 10px 10px 0;
}

/* content4 end */

/* content5 start */
.con5 {
  display: flex;
  padding: 98px 186px 174px 185px;
  gap: 18px;
  align-items: center;
  justify-content: center;
}
.con5_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con5_item {
  width: 330px;
  height: 441px;
  background: #f8f8f8;
  border-radius: 10px;
  transition: 200ms;
}
.con5_item:hover {
  transform: translateY(5px);
  width: 380px;
  height: 480px;
  background: #ff7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
  border-radius: 10px;
}
.price {
  margin: 5px 63px 28px 62px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1.03448px;
  color: #1d293f;
}
.con5_p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #696871;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 155px;
  margin: -7px 97px 36px 97px;
}
.con5_item:hover .con5_p {
  color: #ffffff;
}
.con5_item:hover .type {
  color: #fff;
}
.con5_item:hover .price {
  color: #fff;
}
.con5_item:hover .con5_btn {
  background: #9F3919;
  border-radius: 10px;
  color: #fff;
  border: none;
}
.type {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.562737px;
  color: #696871;
  margin: 34px 137.5px 22px 138.5px;
}
.con5_btn {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #eae9f2;
  border-radius: 10px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #5454d4;
  width: 285px;
  height: 60px;
  border: none;
}
/* content5 end */
